https://github.com/shivabitla/openhack-devops-team/tree/master/apis/trips @shivabitla
https://github.com/shivabitla/openhack-devops-team/tree/master/apis/poi @fob2000
https://github.com/shivabitla/openhack-devops-team/tree/master/apis/user-java @jeffstof
https://github.com/shivabitla/openhack-devops-team/tree/master/apis/userprofile @Infinitecupcakes
